package %package%;

import %InputClassFQN%;
import %OutputClassFQN%;
import com.vb.task.CPTaskSolver;

import java.io.IOException;

public class %TaskClass% implements CPTaskSolver {
    @Override
    public void solve(int testNumber, %InputClass% in, %OutputClass% out) throws IOException {
         out.flush();
    }
}
